// Index
.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}
.card-deck .card {
  flex-basis: 31.3%;
}
.card
{
  margin: 10px 10px 10px 10px;
}

.main {
  position: relative;
  top: 150px;
}
.title{
  text-align: center;
}
.products{
  position: relative;
  top: 67px;
}