
body {

  background-color: #EDEDED;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
}
a {
  color: #00BFFF !important;
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  color: #808080 !important;
}

// Navbar
.bg-light {
  background-color: white !important;
  height: 8%;
}

.card-footer {
  background-color: white;
}
//Form
.main_form {
  position: relative;
  top: 130px;
}

.header
{
  text-align: center;
  color: #00BFFF;
}
.form-group
{
  padding: 10px;
}
.btn-primary {
  background-color: #00BFFF;
  border-color: #00bfff;
  width: 50%;
}

.btn-primary:hover {
  background-color: #00aeff;
  border-color: #00aeff;
}
.actions{
  text-align: center;
}

//Flash message

.flash_message{
  position: relative;
  top: 94px;
  text-align: center;
}
.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}
